*{
    background-color: E2DCDC;
}
.navigation{
    display: flex;
    padding: 2%;
}
.navigation span{
    color: #D31B27;
    font-weight: bold;
    font-size: xx-large;
}
nav ul{
    display: flex;    
}
nav a{
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    
}
.navbar{
    margin-left: 30%;
}
.navbutton button{ 
    margin-left: 0%;
    /* padding: 30%; */
    background-color: #D31B27;
}
#top-btn{
    margin-left: 300px;
    padding: 15px;
    border-radius: 70px;
    border: none;

   
}
.top-page{
    display: flex;
    margin-bottom: 2%;
}
#top-image{
    margin-left: 10%;
    border: 1px solid;
    border: none;
   
}
#top-image img{
    height: 70vh;
    border-radius: 30px;

}
.top-text{
    /* padding: 5%; */
    border: 1px solid;
    border: none;
    margin-left: 10%;
    padding-top: 10%;
   font-size: x-large;
}
.top-text span{
    color: #D31B27;
    font-weight: bold;    
}
#order-now{ 
    margin-left: 0%;
    /* padding: 30%; */
    background-color: #D31B27;
}
.top-text button{
    /* margin-left: 300px; */
    padding: 15px;
    border-radius: 70px;
    border: none;
    
}
main {
    display: flex;
}
article{
    background-image: url("../img/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 50vh;
    width: 65%;
    text-align: center;
    color: white;

    
    
}
article h1{
    padding-top: 10%;
    font-weight: bolder;
}
aside{
    border: 1px solid;
    border: none;
    width: 35%;
    padding: 5%;
}
.card{
    border: none;
    margin-right: 3%;
    
}
.card img{
    border-radius: 250px;
}
.card-title{
    font-weight: bolder;
}
.menu h1{
    text-align: center;
    padding: 3%;
    font-weight: bolder;
}
small{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-left: 13%;
    border: none;
}
.order{
    text-align: center;
    color: white;
    padding-top: 3%;
    border-top: 5px solid;
    border-radius: 30px;
    background-color: #2A2827;
    margin-left: 25%;
    margin-right: 25%;
    height: 70vh;
}
.order label{
    padding-bottom: 1%;
    padding-top: 2%;

}
.form-select{
    width: 30%;
    margin-left: 35%;   
}
#checkout{
    margin-left: 0%;
    background-color: #D31B27;
    padding: 15px;
    border-radius: 70px;
    border: none;
}
.summary{
    text-align: center;
    border: 1px solid;
    border: none;
    padding: 2%;
    font-family: 'Arima Madurai', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
.order-details{
    border: 1px solid;
    height: 30vh;
    margin-left: 30%;
    margin-right: 30%;
}
.delivery{
    text-align: center;

}
.delivery button{
    margin-left: 0%;
    background-color: #D31B27;
    padding: 15px;
    border-radius: 70px;
    border: none; 
    margin-bottom: 2%;
}
.contact{
    text-align: center;
    display: flex;
    padding: 2%;
    border: 1px solid;
    background-color: #2A2827;
    color: white;
}
.contact h2{
    margin-bottom: 10%;
}
.contact form{
    display: flex;
    flex-direction: column;
    margin-left:20%;
}
.contact form input{
    width: 70%;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 3%;
    /* margin-top: 3%; */
    /* padding-top: 2%; */
}
.contact form textarea{
    width: 70%;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 5%;
}
.contact form button{
    margin-left: 15%;
    /* background-color: #D31B27; */
    padding: 15px;
    border-radius: 70px;
    border: none; 
    margin-bottom: 2%;
    width:40%;
}
#contact-msg{
    padding-top: 5%;
    padding: 7%;
}
footer{
    border: 1px solid black;
    text-align: center;
    padding: 2%;
    border: none;
}

