*{
    background-color: E2DCDC;
}
.navigation{
    display: flex;
    padding: 2%;
}
.navigation span{
    color: #D31B27;
    font-weight: bold;
    font-size: xx-large;
}
nav ul{
    display: flex;    
}
nav a{
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    
}
.navbar{
    margin-left: 30%;
}
.navbutton button{ 
    margin-left: 0%;
    /* padding: 30%; */
    background-color: #D31B27;
}
#top-btn{
    margin-left: 300px;
    padding: 15px;
    border-radius: 70px;
    border: none;

   
}
.top-page{
    display: flex;
    margin-bottom: 2%;
}
#top-image{
    margin-left: 10%;
    border: 1px solid;
    border: none;
   
}
#top-image img{
    height: 70vh;
    border-radius: 30px;

}
.top-text{
    /* padding: 5%; */
    border: 1px solid;
    border: none;
    margin-left: 10%;
    padding-top: 10%;
   font-size: x-large;
}
.top-text span{
    color: #D31B27;
    font-weight: bold;    
}
#order-now{ 
    margin-left: 0%;
    /* padding: 30%; */
    background-color: #D31B27;
}
.top-text button{
    /* margin-left: 300px; */
    padding: 15px;
    border-radius: 70px;
    border: none;
    
}
main {
    display: flex;
}
article{
    background-image: url("../img/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 50vh;
    width: 65%;
    text-align: center;
    color: white;

    
    
}
article h1{
    padding-top: 10%;
    font-weight: bolder;
}
/* aside{
    
    width: 35%;
    border: 1px solid brown;
    border: none;
} */
aside{
    border: 1px solid;
    border: none;
    width: 35%;
    padding: 5%;
}